{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 text-center">
        <div class="row memberFlex">
            <div class="col-md-3"></div>

            <div class="col-md-6">
                <a class="text-center mr-auto" href="{{ path('security.login') }}"><button class="btn btn-outline-danger">Connection</button></a>

            </div>
            <div class="col-md-3"></div>


        </div>

    </div>
{% endblock %}

{% block title %}

{% endblock %}

